
/* calling the grid class here */
.grid { 
    width: 220px; /* allow for 20px height and width for the cells */
    height: 440px;
    display: flex;
    flex-wrap: wrap; /* this arranges the cells within the grid rather than all vertical */
    background-color: lavender;
}

/* this is for the "cells" within the grid */
.grid div {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: magenta;
}

.stackKey {
    width: 220px; /* same width as GridDislay */
    height: 110px; /* only 5 rows */
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
}

.stackKey div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #404040; 
}
